.card {   
  box-shadow: -10px 10px 10px #555;  
  margin: 22px;    
}

.card-img, .card-img-top {
    height: 175px;
    border: none;
}

.card-title {
    text-decoration: underline;    
}

#link1, #link2 {
    padding: 7px;
    background-color: darkgoldenrod;
    color: white;   
    font-weight: bold;
    border-radius: 10px; 
    box-shadow: -5px 5px 5px #555;   
}

#link1:hover, #link2:hover {    
    background-color:#666666;
}



