.card {
    width:18rem;
    margin: 20px 0px 20px 120px;
    
}

img {
    height: 200px;
}

.background {
    background-color: #686868;
    opacity: 0.9;
    /* margin-top: 40px; */
    /* margin-left: 5%; */
    /* margin-bottom: 60%; */
    padding: 20px;
    /* border: 1px solid black; */
    /* line-height: 200%; */
}

