.jumbotron {   
    background-image:url('./img/yarenci-hdz-Ufkv_10Jsu0-unsplash\ \(1\).jpg'); 
    height: 75vh;       
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative; 
    font-family: 'Audiowide', cursive;
    letter-spacing: 3px;  
    box-shadow: -10px 10px 10px #555;          
}

#credits {
    font-family:'Times New Roman', Times, serif; 
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.container > h1 {
    font-size: 3.0rem;
}

@media only screen and (max-width: 575px) {
    #credits {
        right: 70px;
    }
}

